{% extends 'base.html' %}


{% block content %}
<div class="container">
    <br><br><br>
    <div class="container">
        <main class="role">
            <hr>
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <br>
                        <a href="/note.htm" style="color: #ffc107;">
                            <h2 class="class-title">Guardian</h2>
                        </a>
                        <param class="mr-2">
                        Category
                        <small class="text-muted">Timestamp</small>
                    </div>
                </div>
            </article>
            <hr>
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <br>
                        <a href="/note.htm" style="color: #ffc107;">
                            <h2 class="class-title">Darkness</h2>
                        </a>
                        <param class="mr-2">
                        Category
                        <small class="text-muted">Timestamp</small>
                    </div>
                </div>
            </article>
            <hr>
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <br>
                        <a href="/note.htm" style="color: #ffc107;">
                            <h2 class="class-title">Hate</h2>
                        </a>
                        <param class="mr-2">
                        Category
                        <small class="text-muted">Timestamp</small>
                    </div>
                </div>
            </article>
            <br>
            <hr>
        </main>
    </div>
    <br>

    <div class="container">
        <a href="/new.htm" class="btn btn-outline-light bg-warning float-right">Add</a>
    </div>

</div>
{% endblock %}