{% extends 'base.html' %}


{% block content %}
<div class="container">
    <br><br><br>
    <div class="container">
        <main class="role">
            <hr>
            {% for note in notes %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a href="{% url 'note' note.id %}" style="color: #ffc107;">
                            <h2 class="class-title">{{ note.title }}</h2>
                        </a>
                        <span class="mr-1" style="font-size: 18px;">{{ note.category }}</span>
                        <small class="text-muted">{{ note.timestamp }}</small>
                    </div>
                </div>
            </article>
            <hr>
            {% endfor %}
            <br>
        </main>
    </div>
    <br>

    <div class="container">
        <a href="{% url 'new' %}" class="btn btn-warning btn-fill float-right" style="color: white;">Add</a>
    </div>

</div>
{% endblock %}