{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container"><br><br><br>
    <form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-6">
            {{ form.title | as_crispy_field }}
            <small id="passwordHelpInline">Must be 10-100 characters long.</small>
        </div>
        
        <div class="col-6">
            {{ form.category | as_crispy_field }}
            <small id="passwordHelpInline">Personal, Study, Family Affairs, Work, Project.</small>
        </div>
        </div><br><br>

        {{ form.content | as_crispy_field }}
        <button type="submit" class="btn btn-outline-light bg-warning">Submit</button>
    </div>
    </form>
</div>
{% endblock %}