{% extends 'base.html' %}


{% block content %}
<div class="container"><br><br><br>
    <div class="container">
        <main class="role">
            <p class="cursive">
                {{ note_.content }}
            </p>
        </main>
    </div>
    <hr>

    <div class="container inline-group">
        <a href="{% url 'delete' pk %}" class="btn btn-danger float-right" style="margin: 0px 3px;">Delete</a>
        <a href="{% url 'edit' pk %}" class="btn btn-warning float-right">Edit</a>
    </div>
</div>
{% endblock %}