{% extends 'base.html' %}


{% block content %}
<div class="container"><br><br><br>
    <div class="container">
        <main class="role">
            <p class="cursive">
                {{ content }}
            </p>
        </main>
    </div>
    <hr>

    <div class="container">
        {% comment %} <a href="{% url 'delete' pk %}" class="btn btn-danger float-right">Delete</a>
        <a href="{% url 'edit' pk %}" class="btn btn-warning float-right">Edit</a> {% endcomment %}
    </div>
</div>
{% endblock %}