{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Create free notes. Responsive.">
    <meta name="keywords" content="notes, crud, django">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}">
    <title>Home - NoteBook</title>
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
            <div class="container">
                <div class="container">
                    <a href="{% url 'home' %}" class="navbar-brand" style="font-size: 25px;">NOTEBOOK</a>
                </div>
            </div>
        </nav>
    </header>


    {% block content %}
    {% endblock %}

    <br><br><br><br>

    <script src="{% static "assets/bootstrap/js/jquery-1.10.2.js" %}"></script>
    <script src="{% static "assets/bootstrap/js/bootstrap.js" %}"></script>
    <script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
</body>

</html>